<div class="main">
  <div class="title">
    <mat-icon>timeline</mat-icon>
    <span>Disaster Tweets Classification</span>
  </div>

  <div class="form-sec">
    <form [formGroup]="tweetForm">
      <div class="form-row">
        <!-- <mat-form-field appearance="outline"> -->
        <img class="image" mat-card-image src="../../../assets/image.jpg" />
        <!-- </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>tweet</mat-label>
          <input formControlName="tweet" matInput type="text" />
          <mat-error *ngIf="tweetForm.get('tweet')?.hasError('required')">
            Tweet is required!
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <div class="btn-row">
      <button
        mat-raised-button
        (click)="generate()"
        [disabled]="!btnEnable"
        color="primary"
      >
        Predict
      </button>
    </div>

    <div class="result">
      <span>{{ result }}</span>
    </div>
  </div>
</div>
