.main {
  width: 100%;

  .title {
    height: 70px;
    background-color: #05658c;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    mat-icon {
      margin-left: 20px;
    }
    span {
      display: flex;
      align-items: center;
      height: inherit;
      margin-left: 20px;
      color: white;
      font-size: 20px;
      font-family: Arial, sans-serif;
    }
  }

  .form-sec {
    width: 25%;
    margin: 40px auto;

    .image {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin: 6px auto;
    }
    .form-row {
      width: 100%;

      mat-form-field {
        width: 100%;
        padding: 5px;
      }

      mat-checkbox {
        padding: 5px;
      }
    }
  }

  .btn-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 5px;
    }
  }

  .result {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    span {
      font-size: 24px;
      font-weight: 500;
    }
  }
}

::ng-deep.mat-form-field-infix {
  display: flex !important;
  align-items: center !important;
  height: 15px;
}

.custom-snackbar-succes {
  background-color: green !important;
  color: white !important;
}

.mat-mdc-snack-bar-container-error {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-container-color: #f23a2f;
}

.mat-mdc-snack-bar-container-success {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-container-color: #43a446;
}